textarea, input {
    width:100%;
    height:20px;
    margin:0;
    padding:0;
}

#linkin {
  width: 400px;
}

#contcheck {
//  display:block;
}

#filedragspot {
  background-color: red;
  border: medium dashed green;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}


#text_input_div {
  display: none
}

input#contcheck {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

#text_input_div {
  display: none;
}
